*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
.section{
	background-color: black;
    color: white;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-image: url(bgp.png);
	background-size: cover;
}
.container{
	display: flex;
	margin:auto;
	padding-top: 50px;
	text-align: center;
	align-items: center;
	justify-content: center;


	
}
.contain{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-direction: column



}
.content-section{
	float: left;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.content-section h1 {
    color: white;
}
.content-section span{
    color: #7a1414;
}
.image-section{
	float: right;
}
.image-section img{
	width: 400px;
	height: auto;
	border-radius: 10px;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section .content h3{
	margin-top: 20px;
	color:#5d5d5d;
	font-size: 21px;
}
.content-section .content p{
	margin-top: 10px;
    font-family: 'Noto Serif Thai', serif;
    font-family: 'Secular One', sans-serif;	font-size: 18px;
	line-height: 2;
}
.content-section .content .button{
	margin-top: 30px;
}
.content span{
    color: #8d0e0e;
}
.content-section .content .button a{
	background-color: darkred;
	padding:12px 40px;
	text-decoration: none;
	color:white;
	font-size: 20px;
	letter-spacing: 1.5px;
    border-radius: 10px;
}
.content-section .content .button a:hover{
	background-color: #a52a2a;
	color: white;
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:#a52a2a;
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:#3d3d3d;
}
@media screen and (max-width: 767px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .content .button{
	text-align: center;
}
.content-section .content .button a{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}
@media screen and (width: 820px){
	.section{
		background-size: covwe;
		height: 100vh;


	}
}
@media screen and (width: 912px){
	.section{
		background-size: covwe;
		height: 100vh;

	}
}
@media screen and (width: 768px){
	.section{
		background-size: 260%;
		height: 100vh;

	}
}
@media screen and (width: 1024px){
	.section{
		background-size: 150%;
		height: 150vh;
	}
}














