*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.logo a {
    color: rgb(207, 181, 181);
}
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(207, 181, 181);
}
.nav-links{
    display: flex;
    align-items: center;
}
.nav-links li{
    margin: 0 30px;
}
.nav-links a{
    color: rgb(231, 197, 197);
}

header
{
    width: 100%;
    background-color:black;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.header-content{
    padding: 10px 10%;
    color: white;
    text-align: center;
    margin: 20%;   
}
.header-content h1 {
    font-size: 15vmin;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 10px;
    background: black;
    animation: text 5s 1;

}
.header-content h2{
    font-size: 2vmin;
    font-family: Segoe Script;
    color: rgb(81, 12, 12);
    margin-bottom: 10px;
    background: black;

}
@keyframes text {
    0%{
        color: black;
    }
    30%{
        letter-spacing: 15px;
    }
    85%{
        letter-spacing: 8px;
    }
}
.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}
/* about me section */

#about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
#about img{
	height: auto;
	width: 300px;
}
.about-text{
	width: 550px;
}

.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 50px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 18px;
    font-family: Segoe Script;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 20px;
}
.button  {
  background-color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 25px;
  
  }
.button a {
    color: rgb(126, 32, 32);
  }
/* activity section*/
#title {
    width: 100%;
	padding: 100px 0px;
   text-align: center;
   font-size: 40px;
   color: white;
   background-color: black;
   overflow: hidden;
}
.line{
    width: 150px;
    height: 5px;
    margin: 10px auto;
    border-radius: 5px;
    background: rgb(126, 32, 32);
}
.wrapper{
    width: 90%;
    margin: 0 auto;
    max-width: 80rem;
}
.cols{
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
}
.col{
    width: calc(25% - 2rem);
    margin: 1rem;
    cursor: pointer;
    margin-left: -5px;
    margin-top: -5px;
}
.container{
    transform-style: preserve-3d;
    perspective: 1000px;
}
.front , .back{
    background-size: cover;
    background-position: center;
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    color: white;
    font-size: 0.9rem;
    border: 3px solid white;
}
.back{
    background: white;
    background: rgba(255,255,255,0.20);
    box-shadow: 0 8px 32px 0 rgb(13,13,13,0.37);
    backdrop-filter: blur(4px);
    border: 3px solid rgba(255,255,255,0.18);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.front:after{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    backface-visibility: hidden;
}
.container:hover .front,
.container:hover .back{
    transition: transform 0.7s cubic-bezier(0.4,0.2,0.2,1);
}
.inner{
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    outline: 1px solid transparent;
    perspective: inherit;
    z-index: 2;
}
.container .back{
    transform: rotateY(180deg);
    transform-style: preserve-3d;

}
.container .front{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    
}
.container:hover .back{
    transform: rotateY(0deg);
    transform-style: preserve-3d;
}
.container:hover .front{
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
}
.bnt {
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 50px;
    
    }
.bnt a {
    color: rgb(126, 32, 32);
}
/* post section*/
#blog-posts{
    width: 100%;
    padding: 100px 0px;
   text-align: center;
   font-size: 40px;
   color: white;
    background: #191919;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;
    flex-direction: column;align-content: center;
}
.post{
    width: calc(33% - 10px);
    overflow: hidden;
}
.post-img{
    width: 100%;
    border-radius: 6px;
    transition: .3s linear;
}
.post-content{
    background-color: #ffffffdd;
    margin: 0 20px;
    padding: 30px;
    border-radius: 6px;
    transform: translateY(-60px);
    transition: .3s linear;
}
.post-content h3{
    font-size: 16px;
    color: black;
    font-family: 'Noto Serif Thai', serif;
}
.post-content .text {
    color: red;
    font-family: 'Noto Serif Thai', serif;
}
.date {
    font-size: 15px;
    font-style: italic;
    color: gray;
}
.post:hover .post-img{
    transform: translateY(20px);
}
.post:hover .post-content{
    transform: translateY(-80px);
}
.but {
    background-color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    margin-top: 10px;
    
    }
.but a {
    color: rgb(126, 32, 32);
}
/* footer*/
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  rgb(126, 32, 32);
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color: rgb(126, 32, 32);
	bottom: 35px;
	font-size: 14px; 
}
/*mobile*/
@media only screen and (max-width:767px){
    .menu-btn {
        display: block;
        width: 30px;
    }
    .navbar {
        padding: 0;
        width: 100%;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 60vh;
        justify-content: center;
        background-color: gray;
        margin-top: -1500px;
        transition: all 0.5s ease;
    }
    .menu-btn img{
        width: 20px;
    }
    .mobile-menu {
        margin-top: 0px;
    }
    .nav-links li {
        margin: 19px auto;
    }
    .header-content{
       
        margin-top: 50%;  
    }
    header {
        height: 60vh;
    }
    #about img{
        height: auto;
        width: 120px;
    }
  .main {
    flex-wrap: wrap
  }
  .about-text h2{
	color: white;
	font-size: 30px;
	text-transform: capitalize;
	margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 10px;
    font-family: Segoe Script;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 12px;
	margin-bottom: 20px;
    text-align: center;
}
#about
{
    padding: 50px 0px;
}
.about-text .button{
    align-items: center;
    display: block;
    margin: auto;
    font-size: 14px;
}
.col{
    width: calc(50%);
    cursor: pointer;
    margin-left: 20px;

 }
 .front , .back{

    text-align: center;
    min-height: 120px;
 
}
#title h2{
    font-size: 40px;

}
#title{
    padding: 80px 0px;

}
.bnt {
    margin-top: 5px;
    font-size: 14px;
}
.inner p{
    font-size: 8px;
}
#blog-posts{
    justify-content: center;
}
.post{
    width: min(600px, 100%);
}
.cer h2{
    font-size: 40px;
}
.post-img{
    width: 300px;
    border-radius: 6px;
    transition: .3s linear;
}
.post-content{
    background-color: #ffffffdd;
    margin: 0 80px;
    padding: 10px;
    border-radius: 6px;
    transform: translateY(-70px);
    transition: .3s linear;
}
.post-content h3{
    font-size: 11px;
    color: black;
    font-family: 'Noto Serif Thai', serif;
}
footer p:nth-child(1){
	font-size: 40px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 200px;
	text-align: center;
	line-height: 26px;
}
}
@media only screen and (width:768px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 70vh;
        justify-content: center;
        background-color: gray;
        margin-top: -1500px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
    }
    .nav-links li {
        margin: 30px auto;
        font-size: 25px;
    }
    .header-content{
       
        margin-top: 40%;  
    }
    header {
        height: 70vh;
    }
    .about-text {
        width: 400px;
    }
    #about img {
        height: auto;
        width: 250px;
    }
    .col{
        width: calc(50%);
        cursor: pointer;
        margin-left: 20px;
    
     }
     .front , .back{
    
        text-align: center;
        min-height: 250px;
     
    }
    #title h2{
        font-size: 60px;
    
    }
    #title{
        padding: 80px 0px;
    
    }
    .bnt {
        margin-top: 20px;
        font-size: 20px;
    }
    .inner p{
        font-size: 14px;
    }
    #blog-posts{
        justify-content: center;
    }
    .post{
        width: min(600px, 100%);
    }
    .cer h2{
        font-size: 40px;
    }
    .post-img{
        width: 100%;
        border-radius: 6px;
        transition: .3s linear;
    }
    .post-content{
        background-color: #ffffffdd;
        margin: 0 80px;
        padding: 40px;
        border-radius: 6px;
        transform: translateY(-60px);
        transition: .3s linear;
    }
}
/*mobile*/
@media only screen and (width:640px){
    .menu-btn {
        display: block;
    }
    img.menu-btn{
        width: 30px;
    }
    .navbar {
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 110vh;
        justify-content: center;
        background-color: gray;
        margin-top: -1500px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
    }
    .nav-links li {
        margin: 14px auto;
    }
    .header-content{
       
        margin-top: 20%;  
    }
    header {
        height: 110vh;
    }
   
    #about img {
        height: auto;
        width: 200px;
    }
    .about-text h2{
        color: white;
        font-size: 30px;
        text-transform: capitalize;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .about-text p{
        color: #fcfc;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 14px;
        margin-bottom: 18px;
    }
    .about-text {
        width: 300px;
    }
    .button  {
        background-color: white;
        border: none;
        padding: 12px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 27px;
        
        }
        .col{
            width: calc(50%);
            cursor: pointer;
            margin-left: 20px;
        
         }
         .front , .back{
        
            text-align: center;
            min-height: 120px;
         
        }
        #title h2{
            font-size: 40px;
        
        }
        #title{
            padding: 80px 0px;
        
        }
        .bnt {
            margin-top: 5px;
            font-size: 14px;
        }
        .inner p{
            font-size: 8px;
        }
}

@media only screen and (width:820px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 50vh;
        justify-content: center;
        background-color: gray;
        margin-top: -1500px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
    }
    .nav-links li {
        margin: 20px auto;
        font-size: 20px;
    }
    .header-content{
       
        margin-top: 25%;  
    }
    header {
        height: 50vh;
    }
    #about{
        width: 100%;
        padding: 150px 0px;
    }
    .about-text h2{
        color: white;
        font-size: 40px;
        text-transform: capitalize;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .about-text p{
        color: #fcfc;
        letter-spacing: 1px;
        line-height: 28px;
        font-size: 22px;
        margin-bottom: 20px;
    }
    .about-text {
        width: 450px;
    }
    .main img{
        height: auto;
        width: 250px;
    }
    .col{
        width: calc(50%);
        cursor: pointer;
        margin-left: 20px;
    
     }
     .front , .back{
    
        text-align: center;
        min-height: 280px;
     
    }
    #title h2{
        font-size: 60px;
    
    }
    #title{
        padding: 80px 0px;
    
    }
    .bnt {
        margin-top: 20px;
        font-size: 20px;
    }
    .inner p{
        font-size: 14px;
    }
}

@media only screen and (width:540px){
    .menu-btn {
        display: block;
    }
    .navbar {
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 70vh;
        justify-content: center;
        background-color: gray;
        margin-top: -1500px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
    }
    .nav-links li {
        margin: 30px auto;
    }
    .header-content{
       
        margin-top: 30%;  
    }
    header {
        height: 70vh;
    }
    #about img{
        height: auto;
        width: 200px;
    }
  .main {
    flex-wrap: wrap
  }
  .about-text h2{
	color: white;
	font-size: 30px;
	text-transform: capitalize;
	margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 18px;
    font-family: Segoe Script;
	margin-bottom: 20px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 20px;
    text-align: center;
}
#about
{
    padding: 50px 0px;
}
.about-text .button{
    align-items: center;
    display: block;
 
    margin: auto;
}
.col{
    width: calc(50%);
    cursor: pointer;
    margin-left: 20px;

 }
 .front , .back{

    text-align: center;
    min-height: 160px;
 
}
#title h2{
    font-size: 40px;

}
#title{
    padding: 80px 0px;

}
.bnt {
    margin-top: 5px;
    font-size: 14px;
}
.inner p{
    font-size: 8px;
}
}
@media only screen and (min-width:1024px){
    
    .header-content{
       
        margin-top: 20%;  
    }
    header {
        height: 100vh;
    }
    
    .inner p{
        font-size: 16px;
    }
}
@media only screen and (width:912px){
    
    .header-content{
       
        margin-top: 20%;  
    }
    header {
        height: 50vh;
    }
    .about-text {
        width: 450px;
    }
    #about {
        padding: 150px 0px;
    }
    .nav-links {
        font-size: 14px;
    }
    .about-text p {
        font-size: 24px;
    }
    .button {
        font-size: 20px;
    }
    .col{
        width: calc(50%);
        cursor: pointer;
        margin-left: 20px;
    
     }
     .front , .back{
    
        text-align: center;
        min-height: 280px;
     
    }
    #title h2{
        font-size: 60px;
    
    }
    #title{
        padding: 80px 0px;
    
    }
    .bnt {
        margin-top: 20px;
        font-size: 20px;
    }
    .inner p{
        font-size: 14px;
    }
}

